In [17]:
import os
import requests
import numpy as np
import pandas as pd
import seaborn as sns

In [18]:
my_df = pd.read_excel(r'/Users/kanimozhivelusamy/Downloads/tech_layoffs.xlsx')

my_df.head()

,#,Company,Location_HQ,Country,Continent,Laid_Off,Date_layoffs,Percentage,Company_Size_before_Layoffs,Company_Size_after_layoffs,Industry,Stage,Money_Raised_in_$_mil,Year,lat,lng
0,3,ShareChat,Bengaluru,India,Asia,200,2023-12-20,15.0,1333,1133,Consumer,Series H,$1700,2023,12.97194,77.59369
1,4,InSightec,Haifa,Israel,Asia,100,2023-12-19,20.0,500,400,Healthcare,Unknown,$733,2023,32.81841,34.98850
2,6,Enphase Energy,San Francisco Bay Area,USA,North America,350,2023-12-18,10.0,3500,3150,Energy,Post-IPO,$116,2023,37.54827,-121.98857
3,7,Udaan,Bengaluru,India,Asia,100,2023-12-18,10.0,1000,900,Retail,Unknown,1500,2023,12.97194,77.59369
4,14,Cruise,San Francisco Bay Area,USA,North America,900,2023-12-14,24.0,3750,2850,Transportation,Acquired,$15000,2023,37.77493,-122.41942

In [20]:
df = pd.read_csv(r'/Users/kanimozhivelusamy/Downloads/DAMG 7275/ProjectP3/company_table.csv')

df.head(100)

,CompanyID,CompanyName,Description,SizeOfCompany,TotalEmployee,Location,IndustryID,RegionID
0,6,Enphase Energy Inc,Energy,3150,3500,San Francisco Bay Area,I434,R1993
1,21,Etsy Inc,Retail,1820,2045,New York City,I395,R1046
2,56,Unity Software Inc,Other,6360,6625,San Francisco Bay Area,I078,R1993
3,91,Tripadvisor Inc,Travel,3000,3125,Boston,I522,R1084
4,311,SecureWorks Corp,Security,1700,2000,Atlanta,I890,R1428
5,328,Thoughtworks Holding Inc,Other,11001,11580,Chicago,I711,R1974
6,504,Uber Technologies Inc,Transportation,19877,20077,San Francisco Bay Area,I424,R1993
7,530,TrueCar Inc,Transportation,323,425,Los Angeles,I674,R1995
8,540,Chegg Inc,Education,1920,2000,San Francisco Bay Area,I804,R1993
9,562,Reddit Inc,Consumer,1710,1800,San Francisco Bay Area,I455,R1993
10,628,Lemonade Inc,Finance,1455,1500,New York City,I835,R1046
11,688,Dropbox Inc,Other,2625,3125,San Francisco Bay Area,I398,R1993
12,690,Vroom Inc,Transportation,971,1091,New York City,I688,R1046
13,709,LYFT Inc,Transportation,3051,4123,San Francisco Bay Area,I686,R1993
14,712,Buzzfeed Inc,Media,1020,1200,New York City,I243,R1046
15,721,Opendoor Technologies Inc,Real Estate,1985,2545,San Francisco Bay Area,I633,R1993
16,800,Lucid Group Inc,Transportation,5922,7222,San Francisco Bay Area,I987,R1993
17,829,Amazon.com Inc,Retail,383000,392000,Seattle,I485,R1415
18,846,Meta Platforms Inc,Consumer,63615,73615,San Francisco Bay Area,I875,R1993
19,953,Micron Technology Inc,Hardware,45600,48000,Boise,I813,R1926
20,1025,Zoom Video Communications Inc,Other,7367,8667,San Francisco Bay Area,I844,R1993
21,1026,eBay Inc,Retail,12000,12500,San Francisco Bay Area,I546,R1993
22,1084,PayPal Holdings Inc,Finance,26571,28571,San Francisco Bay Area,I171,R1993
23,1171,Alphabet Inc Class C,Consumer,188000,200000,San Francisco Bay Area,I644,R1993
24,1204,Microsoft Corp,Other,190000,200000,Seattle,I398,R1415
25,1498,DoorDash Inc,Food,19583,20833,San Francisco Bay Area,I317,R1993
26,1587,Cisco Systems Inc,Infrastructure,77900,82000,San Francisco Bay Area,I498,R1993
27,2303,Netflix Inc,Media,9700,10000,San Francisco Bay Area,I235,R1993
28,1086,Workday Inc,HR,16975,17500,San Francisco Bay Area,I958,R1993
29,1172,Wayfair Inc,Retail,16530,17400,Boston,I125,R1084

In [21]:
region_data = df[['RegionID', 'Location', 'TotalEmployee']]

print(region_data)

   RegionID                Location  TotalEmployee
0     R1993  San Francisco Bay Area           3500
1     R1046           New York City           2045
2     R1993  San Francisco Bay Area           6625
3     R1084                  Boston           3125
4     R1428                 Atlanta           2000
5     R1974                 Chicago          11580
6     R1993  San Francisco Bay Area          20077
7     R1995             Los Angeles            425
8     R1993  San Francisco Bay Area           2000
9     R1993  San Francisco Bay Area           1800
10    R1046           New York City           1500
11    R1993  San Francisco Bay Area           3125
12    R1046           New York City           1091
13    R1993  San Francisco Bay Area           4123
14    R1046           New York City           1200
15    R1993  San Francisco Bay Area           2545
16    R1993  San Francisco Bay Area           7222
17    R1415                 Seattle         392000
18    R1993  San Francisco Bay Area          73615
19    R1926                   Boise          48000
20    R1993  San Francisco Bay Area           8667
21    R1993  San Francisco Bay Area          12500
22    R1993  San Francisco Bay Area          28571
23    R1993  San Francisco Bay Area         200000
24    R1415                 Seattle         200000
25    R1993  San Francisco Bay Area          20833
26    R1993  San Francisco Bay Area          82000
27    R1993  San Francisco Bay Area          10000
28    R1993  San Francisco Bay Area          17500
29    R1084                  Boston          17400

In [22]:
region_data_modified = region_data.rename(columns={'RegionID': 'RegionID', 'Location': 'RegionDescription', 'TotalEmployee': 'TotalWorkForce'})

print(region_data_modified)

   RegionID       RegionDescription  TotalWorkForce
0     R1993  San Francisco Bay Area            3500
1     R1046           New York City            2045
2     R1993  San Francisco Bay Area            6625
3     R1084                  Boston            3125
4     R1428                 Atlanta            2000
5     R1974                 Chicago           11580
6     R1993  San Francisco Bay Area           20077
7     R1995             Los Angeles             425
8     R1993  San Francisco Bay Area            2000
9     R1993  San Francisco Bay Area            1800
10    R1046           New York City            1500
11    R1993  San Francisco Bay Area            3125
12    R1046           New York City            1091
13    R1993  San Francisco Bay Area            4123
14    R1046           New York City            1200
15    R1993  San Francisco Bay Area            2545
16    R1993  San Francisco Bay Area            7222
17    R1415                 Seattle          392000
18    R1993  San Francisco Bay Area           73615
19    R1926                   Boise           48000
20    R1993  San Francisco Bay Area            8667
21    R1993  San Francisco Bay Area           12500
22    R1993  San Francisco Bay Area           28571
23    R1993  San Francisco Bay Area          200000
24    R1415                 Seattle          200000
25    R1993  San Francisco Bay Area           20833
26    R1993  San Francisco Bay Area           82000
27    R1993  San Francisco Bay Area           10000
28    R1993  San Francisco Bay Area           17500
29    R1084                  Boston           17400

In [23]:
region_combined = region_data_modified.groupby('RegionID', as_index=False).agg({'RegionDescription': 'first', 'TotalWorkForce': 'sum'})

print(region_combined)

  RegionID       RegionDescription  TotalWorkForce
0    R1046           New York City            5836
1    R1084                  Boston           20525
2    R1415                 Seattle          592000
3    R1428                 Atlanta            2000
4    R1926                   Boise           48000
5    R1974                 Chicago           11580
6    R1993  San Francisco Bay Area          504703
7    R1995             Los Angeles             425

In [24]:
row_num = len(region_combined)

region_code = ['RC' + str(np.random.randint(1, 100)).zfill(2) for _ in range(row_num)]

region_map = dict(zip(region_combined['RegionID'], region_code))

region_combined['RegionCode'] = region_combined['RegionID'].map(region_map)

print(region_combined)

  RegionID       RegionDescription  TotalWorkForce RegionCode
0    R1046           New York City            5836       RC46
1    R1084                  Boston           20525       RC01
2    R1415                 Seattle          592000       RC58
3    R1428                 Atlanta            2000       RC93
4    R1926                   Boise           48000       RC93
5    R1974                 Chicago           11580       RC33
6    R1993  San Francisco Bay Area          504703       RC09
7    R1995             Los Angeles             425       RC43

In [25]:
region_combined.to_csv('region_table.csv', index=False)